<div class="home-title title"><h1>Where's Waldo?</h1></div>

<div class="puzzle-choices">
  <table class="puzzles-list">
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td colspan = "3" class="table-puzzle-name"><%= puzzle.name %></tr></td>
      <tr>
        <td>
          <%= image_tag puzzle.image_url, class: "puzzle-image-thumb" %>
        </td>
        <td><%= link_to "Play", puzzle_path(puzzle.id) %></td>
        <td><%= link_to "High scores", scores_path(puzzle_id: puzzle.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
