@import "utilities/variables";

#score-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  z-index: 4;
  margin-top: -100px;
  margin-left: -200px;
  padding: 10px;
  background: #fff;
}

#score-form-container h2 {
  margin-bottom: 10px;
}

#score-form {
  margin-top: 30px;
}

.score-title {
  display: inline-block;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.scores-list {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 40px 20px;
  box-shadow: 2px 2px 2px black;
  background: $red-color;
  color: #fff;
  font-size: 20px;

  th {
    border-bottom: 2px solid #fff;
    font-size: 24px;
    font-weight: bold;
  }

  th:first-child {
    border-bottom: none;
  }
}

.score-home-link {
  margin: 20px 0;
}



