@import "utilities/variables";

.puzzle-image-thumb {
  width: 200px;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
}

.puzzles-list {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 40px 20px;
  box-shadow: 2px 2px 2px black;
  background: $red-color;
  color: #fff;

  .table-puzzle-name {
    font-size: 36px;
  }

  td {
    vertical-align: middle;
    font-size: 20px;
  }

  a,
  a:visited {
    color: #fff;
  }
  
}