<h1><%= @puzzle.name %></h1>

<%= image_tag @puzzle.image_url, id: "puzzle-image" %>

<div class="target-box"></div>
<div class="target-choices">
  <h3>Who did you find?</h3>
  <ul>
    <li>Waldo</li>
    <li>Odlaw</li>
  </ul>
</div>